<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EventTrackVersion</key>
	<string>iOS_2.0.0</string>
	<key>EventTrackTimeInterval</key>
	<integer>5</integer>
	<key>EventTrackItems</key>
	<dict>
		<key>ETHomeViewController</key>
		<dict>
			<key>PageEventId</key>
			<string>10001</string>
			<key>ControlEventId</key>
			<dict>
				<key>tableView:didSelectRowAtIndexPath:</key>
				<string>1001</string>
				<key>buttonAction1</key>
				<string>1002</string>
			</dict>
		</dict>
		<key>ETSecondViewController</key>
		<dict>
			<key>PageEventId</key>
			<string>10002</string>
			<key>ControlEventId</key>
			<dict>
				<key>tableView:didSelectRowAtIndexPath:</key>
				<string>1005</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
